.header {
	height: 10%;
	width: 100%;
	border:1px solid #3e3e3e;
	position: fixed;
	top:0;
	display: block;
	text-align: center;
}
.main {
	display: grid;
	grid-template-columns: 1fr 10fr 2fr;
	background-color: #DDD;
	height: 100vh;
}
.main .aside-left {
	grid-column-start: 1;
	grid-column-end: 2;
	border:1px solid red;
	height: 100%;
} 
.main .content {
	grid-column-start: 2;
	grid-column-end: 12;
	border: 1px solid yellow;
	height: 100%;
}
.main .aside-right {
	grid-column-start: 12;
	grid-column-end: 14;
	border: 1px solid blue;
	height: 100%;
}