
body {
	font-family: Mulish, sans-serif;
}
/*font*/ 
	.font-dark {
		color: #343a40;
	}
	.font-highlight {
		color: #e24727;
	}
	.font-normal {
		font-family: sans-serif;
	}
/*all a*/
	a:hover {
		opacity: 0.6;
		font-size: 90%;
	}
/*main menu*/
	.menu-icon {
		font-size: 2rem;
		color: #000;
		float: right;
		margin-top: 0.5em;
		margin-right: 0.7em;
	}
	.menu-icon:hover {
		opacity: 0.5;
	}
	.menu {
		text-transform: uppercase;
		font-size: 0.9rem;
		font-weight: 600;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		background-color: #222;
		opacity: 1;
		display: none;
	}
	.menu ul li a {
		color: #DBDBDB;
		letter-spacing: 3px;
		word-spacing: 5px;
		line-height: 4em;
	}
	.menu .list-menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	.menu .list-menu ul li a{
		text-align: left;
	}
	.menu .list-contact {
		font-size: 0.9rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.menu .list-contact ul li a{
		text-align: left;
	}
	.nav .nav-item-title {
		color: #fff;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: left;
		letter-spacing: 3px;
		word-spacing: 5px;
		line-height: 4em;
		margin-left: 15px;
	}
/*signal*/
	.signal {
		width: 10%;
		height: 100%;
		margin-top: 10px;
		float: left;
		background-image: url(./img/sign.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
/*left-aside*/
	.left-aside {
		transform: rotate(-90deg);
	}
	.left-text 
	{
		font-size: 0.9em;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
		width: 250px;	
	}
	.left-text:before {
		content: '';
		width: 30px;
		height: 1px;
		background-color: #e24727;
		position: absolute;
		top: 11px;
		left: 20px;
	}
	.left-text:after {
		content: '';
		width: 30px;
		height: 1px;
		background-color: #e24727;
		position: absolute;
		top: 11px;
		right: 20px;
	}
/*right-aside*/
	.smenu-title-group {
		list-style: none;
		width: 80px;
		float: right;
		padding: 0;
		margin: 0;
	}
	.smenu-title-group li {
		text-align: right;
		visibility: hidden;
		text-transform: uppercase;
		font-size: 0.7rem;
		line-height: 1.5rem;
		letter-spacing: 1px;	
	}
	.smenu-group {
		list-style: none;
		padding-top: 10px;
		width: 45px;
		padding: 12px 0;
		transform: rotate(180deg);
	}
	.smenu-item {
		margin-bottom: 19px;
	}
	.smenu-group li:last-of-type {
		margin-bottom: 0;
	} 
	.smenu-line {
		height: 4px;
		width: 20px;
		background-color: #000;
		transition: all 500ms;
	}
	.active .smenu-line{
		width: 35px;
		height: 2px;
		background-color: red;
	}
	/*.smenu-link:hover .smenu-line{
		width: 35px;
		height: 3px;
		background-color: red;
	}*/
	.smenu-link:hover #smenu-title>li{
		visibility: visible;
	}
/*theme*/ 
	.theme-light{
		color: #fff;
		text-align: center;
		background-color: #e24727;
		border-radius: 50%;
		display: inline-block;
		padding: 0.5em 0.8em;
		visibility: hidden;
		opacity: 0;
	}
	.theme-dark{
		color: #fff;
		text-align: center;
		background-color: #e24727;
		border-radius: 50%;
		display: inline-block;
		padding: 0.5em 0.8em;
		transform: rotate(220deg);
	}
/*home*/
	.home {
		background-image: url(./img/bg-home2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.intro {
		margin-left: 15%;
	}
	.intro h1,h2 {
		font-weight: 200;
		margin: 0.4em 0;
	  	color: #343A40;
	}
	.intro h1 { 
		font-size: 3.5em; 
		letter-spacing: 0.1em;
	}
	.intro h2 {
	  	color: #e24727;
	  	font-size: 2em;
	}
	.intro h2 span {
		color: #343A40;
	}
	.intro .intro-frame {
		margin-bottom: 3em;
	}
	.intro .nav .nav-item .nav-link {
		color: #000;
	}
/*about me*/
	.aboutme .info {
		height: 55%;
		margin-top: 4.5em;
		/*border: 1px solid red;*/
	}
	.aboutme .info .image {
		height: 20em;
		width: 27em;
		background-image: url(./img/avatar.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.aboutme .info .content {
		height: 20em;
		padding-left: 2em;
	}
	.aboutme .info .content h2 {
		font-weight: 600;
		font-family: Poppins, sans-serif;
	}
	.aboutme .info .content p {
		margin-top: 0.5em;
		font-weight: 600;
		letter-spacing: 0.1px;
		line-height: 1.5em;
		font-size: 1.2em;
	}
	.aboutme-info-table td {
		padding: 0.5em 1em 0.25em 0;
	}
	.aboutme-button {
		background-color: #e24727;
		text-decoration: none;
		color: #fff;
		padding: 0.7em 1.4em;
		border:none;
		border-radius: 1.5em;
		margin-right: 5em;
	}
	.aboutme-button:hover {
		opacity: 0.6;
		font-size: 90%;
	}
	.achieve-group {
		margin-top: 3em;
	}
	.achieve-item {
		
		text-align: center;
		color: #888;
	}
	.achieve-item .icon {
		font-size: 3rem;
	}
	.achieve-item .number {
		font-size: 1.5rem;
	}
	.achieve-item .title {
		font-size: 1rem;
	}
/*skills*/
	.nav-skills {
		list-style: none;
		padding: 0;
		margin-bottom: 5em;
	}
	.nav-skills-item {
		float:left;
	}
	.nav-skills-link {
		font-size: 1rem;
		padding: 8px 16px;
		margin-right: 1em;
		text-decoration: none;
		float:left;
	}
	.nav-skills-link:hover {
		background-color: #E24727;
		opacity: 1;
		color: #fff;
		border-radius: 20px;
	}
	#work-all {
		background-color: #E24727;
		opacity: 1;
		color: #fff;
		border-radius: 20px;
		}
/*skills - work items*/
	.work-item {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 0.2em;
		animation-name: move;
		animation-duration: 1s;
	}
	.work-item img {
		width: 21rem;
		height: 14rem;
		border-radius: 0.2em;
		transition: all 0.5s ease;
	}
	.work-frame {
		padding: 0.7rem 1rem;
	}
	.after-hover {
		width: 100%;
		height: 100%;
	}
	.overlay {
		background-color: rgba(255, 74, 41, 0.3);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		opacity: 0;
		visibility: hidden;
		border-radius: 60%;
		transition: all 0.5s ease;
	}		
	.after-hover h5 {
		text-shadow: 1px 1px #000;
	}
	.after-hover .left {
		position: absolute;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		margin: 1rem 0 0 1rem;
		width: 40%;
		height: 40%;
		top: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.8s ease;
	}
	.after-hover .right {
		position: absolute;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		margin: 0 1rem 1rem 0;
		width: 40%;
		height: 40%;
		bottom: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.8s ease;
	}
	.after-hover .center {
		position: absolute;
		width: 30%;
		height: 30%;
		top: 38%;
		left: 45%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.8s ease;
	}
	.after-hover i {
		background-color: #fff;
		font-size: 1rem;
		color: #000;
		padding: 0.5rem 0.5rem;
		border-radius: 0.25rem;
	}
	.work-item:hover img {
		transform: scale(1.5,1.5);
	}
	.work-item:hover .overlay {
		opacity: 1;
		visibility: visible;
		border-radius: 0;

	}
	.work-item:hover .left {
		opacity: 1;
		visibility: visible;
	}
	.work-item:hover .right {
		opacity: 1;
		visibility: visible;
	}
	.work-item:hover .center {
		opacity: 1;
		visibility: visible;
	}
	.work-mockup {
		display: none;
	}
	.work-template {
		display: none;
	}
/*target*/
	.services {
		margin-top: 2em;
	}
	.service-item {
		padding: 0em 2em 1em 0;
	}
	.service-item .service-icon {
		height: 50%;
	}
	.service-item:hover .service-icon {
		animation-name: spin;
		animation-duration: 1s;
	}
	.service-item .service-content h5{
		font-family: sans-serif;
		letter-spacing: 0.03em;
		font-weight: bold;
	}
	.progress-item {
		margin-top:0;
	}
	.progress {
		opacity: 0.6;
	}
/*contact*/
.contact-message {
	padding-bottom: 3em;
}
.form-group .form-control{
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom-style: groove;
	border-radius: 0;
	border-color: #DDD;
	color: #e24727;
}
.form-group .form-control::placeholder{
	font-size: 100%;
}
.form-group .no-outline:focus, .no-outline:active{
    box-shadow: none; 
    border-color: #e24727;
}
@keyframes spin {
	from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
    }
}
@keyframes move {
	0% {left: 20px; top: 10px;}
	75%{left: 0px; top: 0px;}
}
